.Hives-NewHiveButton {
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--primary-text);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  border: none;
  padding: 12px 34px;
  font-size: 16px;
  min-width: 44px;
  min-height: 44px;
}
