@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Accordion-wrapper {
  width: 100%;
  border-radius: 10px;
  background-color: var(--background);
}

.Accordion {
  width: 100%;
  border: none;
  height: 50px;
  font-size: 16px;
  color: var(--primary-text);
  display: flex;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  background: transparent;
}

.Accordion-icon {
  transition: transform 0.2s ease;
}

.Accordion-fields {
  padding: 10px 15px 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Accordion-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Accordion-field p {
  font-size: 16px;
  color: var(--primary-text);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
}

.Accordion-field input {
  width: 100%;
  height: 35px;
  background-color: var(--body);
  border: none;
  border-radius: 2px;
  font-size: 16px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.Accordion-field input:disabled {
  background-color: color-mix(in srgb, var(--body) 85%, black 20%);

}